html {
  height: 100%;
}
body {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
}
td {
  width: 95px;
  text-align: center;
  border: solid blue 1px;
}
.name {
  margin-bottom: 2%;
}
tr {
  border: solid blue 1px;
}
table {
  padding: 15px 0px;
  align-items: center;
  min-width: 100%;
}
section {
  font-size: 30px;
  border: dashed red 2px;
}
